@model AddPasswordViewModel

@{ 
    ViewData["Title"] = "AddPassword page";
}



<div>
    <h1>Add Passwor</h1>
    <h2>Would you like to create a password for your local account? Click Skip to skip</h2>
    <form method="post">
        <div asp-validation-summary="All" class="text-danger"></div>
        <div>
            <label asp-for="Password"></label>
            <input asp-for="Password"/>
        </div>
        <div>
            <label asp-for="ConfirmPassword"></label>
            <input asp-for="ConfirmPassword" />
        </div>
        <div>
            <button type="submit">Submit</button>
            <a>Skip</a>
        </div>
    </form>
</div>