@model ChangePasswordViewModel

@{
    ViewData["Title"] = "ChangePasswordViewModel Page";
}


<div class="row">
    <div class="col-md-6">
        <div class="d-flex">
            <form method="post" enctype="multipart/form-data">
                <h1 class="m-3">Change Password</h1>
                <div asp-validation-summary="All" class="text-danger"></div>
                <div class="m-3">
                    <label asp-for="CurrentPassword"></label>
                    <input asp-for="CurrentPassword" class="form-control" />
                </div>
                <div class="m-3">
                    <label asp-for="NewPassword"></label>
                    <input asp-for="NewPassword" class="form-control" />
                </div>
                <div class="m-3">
                    <label asp-for="ComfirmPassword"></label>
                    <input asp-for="ComfirmPassword" class="form-control" />
                </div>
                <div class="m-3">
                    <button type="submit">Update</button>
                </div>

            </form>
        </div>
    </div>
</div>

