@model ForgotPasswordViewModel
@{
    ViewData["Title"] = "Forgotpassword page";
}

<form method="post">
    <div asp-validation-summary="All" class="text-danger"></div>
    <label asp-for="Email"></label>
    <div class="mb-1"> <input asp-for="Email" /></div>
    <button type="submit">Submit</button>
</form>