@model RegisterViewModel

@{ 
    ViewBag.Title = "Register page";
}


<div class="d-flex align-items-center justify-content-center">
    <form method="post">
        <div asp-validation-summary="All" class="mb-3 text-danger"></div>
        <div class="mb-3  ">
            <label asp-for="Email"></label>
            <input asp-for="Email" class="form-control" />
            <span asp-validation-for="Email" class="text-danger"></span>
        </div>
        <div class="mb-3 ">
            <label asp-for="Password"></label>
            <input asp-for="Password" class="form-control " />
            <span asp-validation-for="Password" class="text-danger"></span>
        </div>
        <div class="mb-3 ">
            <label asp-for="ConfirmPassword"></label>
            <input asp-for="ConfirmPassword" class="form-control" />
            <span asp-validation-for="ConfirmPassword" class="text-danger"></span>
        </div>

        <button type="submit" class="btn btn-primary m-2">Register</button>
        <a asp-controller="Home" asp-action="Index" class="btn btn-primary m-2">Cancel</a>
    </form>
</div>