@model ResetPasswordViewModel

@{
    ViewData["Title"] = "Resetpassword page";
}


<div>
    <form method="post">
        <div asp-validation-summary="All"></div>
        <label class="text-left">New Password</label>
        <div>
            <input asp-for="Password" />
        </div>
        <label>Confirm Password</label>
        <div>
            <input asp-for="ConfirmPassword" />
        </div>
        <button type="submit">Submit</button>
    </form>
</div>