@model HomeDetailsViewModel

@{ 
    
    ViewBag.Title = "Details page";
}


<div>
    Name: @Model.employee.Name
</div>

<div>
    Email: @Model.employee.Email
</div>

<div>
    Department: @Model.employee.Department
</div>

