@model HomeDetailsViewModel
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title>This is the detail page</title>
</head>
<body>

    <h1>@Model.Title</h1>

    <div>
        Name: @Model.employee.Name
    </div>

    <div>
        Email: @Model.employee.Email
    </div>

    <div>
        Department: @Model.employee.Department
    </div>
</body>
</html>