@model int
@{ 
    ViewBag.PageTitle = "Not Found";
}

<div class="text-danger">
    <h3>404 Not found</h3>
    <a asp-controller="Home" asp-action="Index" class="btn btn-outline-success">Return to Home page</a>
</div>