@{ 
    ViewData["Title"] = "Main Page";
}

<div class="text-center mt-4">
    <h1>Employee Management site built with ASP.Net Core MVC, sign in with the admin account below or using a third party. You can always simply register your own local account!</h1>
    <h1>Due to security reasons, admin can only create new employees, edit users and a few other operations</h1>
    <h3>Admin Username: Admin@gmail.com <br> Admin Password: !Admin123</h3>
</div>